{
    "swagger": "2.0",
    "info":{
        "description":"Welcome to the Cordial API documentation! This interactive API documentation will allow you to test API calls from this interface. Use the API key for your account to make API calls. Keep in mind that this will directly affect your production data.",
        "version": "1.0.0",
        "title": "Cordial API",
        "termsOfService": "https://cordial.zendesk.com"
    },
    "basePath": "/",
    "schemes":[
        "https"
        ],
    "securityDefinitions" : {
        "basicAuth" : {
            "description" : "HTTP Basic Authentication. Works over HTTPS",
            "type" : "basic"
        }
    },
    "host" : "api.cordial.io",
    "paths":{
        "/v1/messageanalyticsexport":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "analytics messages"
                ],
                "operationId": "exportMessageAnalytics",
                "summary": "Create a message report export job",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Attribute object that needs to be added to the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/SourceAnalyticsMessage"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "jobId"
                    },
                    "400":{
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/v1/accountcontactattributes":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                   "account attributes"
                ],
                "summary": "Get contact attributes",
                "description": "Retrieves attributes by type. Options are string, number, date, geo or array.",
                "operationId": "getListAccountAttributes",
                "produces": [
                  "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Filter attributes by type",
                        "required": false,
                        "type": "string",
                        "enum":[
                            "string",
                            "number",
                            "date",
                            "geo",
                            "array"
                        ]
                    },{
                        "in": "query",
                        "name": "indexed",
                        "description": "Retrieves attributes based on their index status. Options are 1 or 0",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "0",
                            "1"
                        ]
                    }
                ],
                "responses":{
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/AttributeShow"
                            }
                        }
                    },
                    "400":{
                        "description": "Invalid request"
                    }
                }
            },
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new attribute",
                "tags":[
                   "account attributes"
                ],
                "operationId": "addattribute",
                "produces": [
                  "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Attribute object that needs to be added to the system",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/Attribute"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/Attribute"
                            }
                        }
                    },
                    "400":{
                        "description": "Invalid request"
                    }
                }
            }
        },
        "/v1/accountcontactattributes/{key}":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single attribute",
                "operationId": "getAttribute",
                "produces": [
                  "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Key for attribute",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref": "#/definitions/AttributeShow"
                        }
                    },
                    "400":{
                        "description": "Invalid status value"
                    },
                    "404":{
                        "description": "Attribute not found"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an existing attribute",
                "operationId": "updateAttribute",
                "produces": [
                  "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Key for attribute",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Attribute object that needs to be updated in system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/AttributeUPD"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "422":{
                        "description": "Key not exist"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an existing attribute",
                "operationId": "deleteattribute",
                "produces": [
                    "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Key for attribute",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "404":{
                        "description": "record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/downloadprofile":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Export Contact Profile",
                "operationId": "buildcontactprofile",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Export contact profile",
                        "required": true,
                        "schema": {
                            "$ref":"#/definitions/SourceCPB"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "jobId"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/accountlists/{id}":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single list",
                "operationId": "getlist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ListShow"
                            }
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            },
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update List",
                "operationId": "updatelist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "List object that needs to be updated to the system",
                        "required": false,
                        "schema":{
                            "$ref": "#/definitions/List"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ListShow"
                            }
                        }
                    },
                    "404":{
                        "description": "record not found"
                    },
                    "422":{
                        "description": "Validation error"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an existing list",
                "operationId": "deletelist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                  {
                      "name": "id",
                      "description": "Key for list",
                      "required": true,
                      "type": "string",
                      "in": "path"
                  }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            }

        },
        "/v1/accountlists/{id}/clear":{
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Clear a list",
                "operationId": "clearlist",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/accountlists":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new list",
                "operationId": "addList",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "List object that needs to be added to the system",
                        "required": true,
                        "schema":{
                                  "$ref": "#/definitions/List"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                                  "$ref": "#/definitions/List"
                        }
                    },
                    "422":{
                      "description": "Name must be unique"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get lists",
                "operationId": "getLists",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "description": "Name given to the list",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ListShow"
                            }
                        }
                    },
                    "404":{
                      "description": "Records not found"
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single automation template",
                "operationId": "gettemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Template Key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref": "#/definitions/TemplateShowAuto"
                        }
                    },
                    "404":{
                      "description": "Records not found"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update a single automation template",
                "operationId": "updateTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Template Key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Template object that needs to be updated to the system",
                        "required": true,
                        "schema":{
                              "$ref": "#/definitions/TemplateupdateAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                      "description": "Records not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an automation template",
                "operationId": "deleteTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                      "description": "Records not found"
                    }
                }
            }
        },
        "/v1/automationtemplates":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new automation template",
                "operationId": "addTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Template object that needs to be added to the system",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/TemplateAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "422":{
                        "description": "KEY must be unique"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get automation templates",
                "operationId": "getTemplates",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters":[
                    {
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gt]",
                        "description": "Create date greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gte]",
                        "description": "Create date greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lt]",
                        "description": "Create date less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lte]",
                        "description": "Create date less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[gt]",
                        "description": "Last modified date greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[gte]",
                        "description": "Last modified date greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[lt]",
                        "description": "Last modified date less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[lte]",
                        "description": "Last modified date less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "tags",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Message tags (can be many, separate by comma)"
                    },{
                        "name": "page",
                        "description": "Number of page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Count templates on page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/TemplateShowAuto"
                            }
                        }
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}/send":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send a batch message from an automation template",
                "operationId": "sentMessage",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Array of contacts",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/RecipientsAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/TemplateShowAuto"
                        }
                    },
                    "404":{
                        "description": "Template not exist"
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}/senddraft": {
            "post": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Send a draft message of an automation template",
                "operationId": "sentDraftMessage",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "body",
                        "description": "Array of contacts",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RecipientsAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TemplateShowAuto"
                        }
                    },
                    "422": {
                        "description": "Template not exist"
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}/publish":{
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Publish a single automation template",
                "operationId": "publishTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Template not exist"
                    },
                    "422":{
                        "description": "Unable to publish template. Ensure a draft exists"
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}/renderdraft/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render draft content of a single automation template",
                "operationId": "renderPreviewAutomationtemplate",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Contact ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Name of experiment ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Variant name",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/automationtemplates/{key}/renderpublished/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render published content of a single automation template",
                "operationId": "renderPublishedAutomationtemplate",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Delivery template key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Contact ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Name of experiment ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Variant name",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/batchmessages":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Create a batch message",
                "operationId": "addBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Send message",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/MessageSendBatchPost"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    },
                    "422":{
                        "description": "Validation errors"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get batch messages",
                "operationId": "getBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "sendTime[gt]",
                        "description": "Send Time greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[gte]",
                        "description": "Send Time greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[lt]",
                        "description": "Send Time less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[lte]",
                        "description": "Send Time less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "status",
                        "description": "Message status",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "triggers[api][enabled]",
                        "description": "API trigger",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "triggers[event][enabled]",
                        "description": "Event trigger",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "triggers[recurring][enabled]",
                        "description": "Recurring trigger",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "tags",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Message tags (can be many, separate by comma)"
                    },{
                        "name": "mdtID",
                        "description": "Automation template ID",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gt]",
                        "description": "Create date greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gte]",
                        "description": "Create date greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lt]",
                        "description": "Create date less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lte]",
                        "description": "Create date less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Page number",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }, {
                        "name": "per_page",
                        "description": "Number of records returned",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/MessageSendBatch"
                            }
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an existing message",
                "operationId": "updateBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Contact object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/MessageSendBatchPost"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    },
                    "400":{
                        "description": "Invalid ID supplied"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "GET single message by msID",
                "operationId": "getSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/MessageSendBatch"
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete a single contact",
                "operationId": "deleteSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/send":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send Manual Messagesend",
                "operationId": "sendSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    },
                    "400":{
                        "description": "Count not create SendBatchMessage job"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/sendtest":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send a test batch message",
                "operationId": "sendTestSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Array of contacts",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/RecipientsTestBatch"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/renderedwip/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render preview of a batch message",
                "operationId": "renderPreviewSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Contact ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Name of experiment ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Variant name",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/pause":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Pause a batch message sending",
                "operationId": "pauseSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/cancel":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Cancel a batch message sending",
                "operationId": "cancelSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/batchmessages/{id}/resume":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Resume a batch message sending",
                "operationId": "resumeSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Message send ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful operation"
                    },
                    "404":{
                        "description": "Record is not found"
                    }
                }
            }
        },
        "/v1/contactactivities":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get events",
                "operationId": "getActivityList",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact activities"
                ],
                "parameters": [
                    {
                        "name": "time",
                        "description": "can be searched with modifiers (lt, gt, lte, gte, between.start, between.end)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "action",
                        "description": "can be click, open, send, or any user defined actions",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "email",
                        "description": "search contact primary key",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Number of page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Count items on page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "return_count",
                        "description": "Return count of records",
                        "required": false,
                        "type": "boolean",
                        "default":false,
                        "in": "query",
                        "enum": [
                            true,
                            false
                        ]
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/ActivityActivityShow"
                            }
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new event",
                "operationId": "addActivity",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact activities"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Activity object that needs to be added to the system",
                        "required": true,
                        "schema": {
                            "$ref":"#/definitions/ActivityActivity"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    }
                }
            }
        },
        "/v1/contactactivityexport":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Create an event export job",
                "operationId": "createExportCAJob",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contact activity exports"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Export object that needs to be getting from the system",
                        "required": true,
                        "schema": {
                            "$ref":"#/definitions/SourceCAE"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "jobId"
                    },
                    "422":{
                        "description":"Unprocessable Entity"
                    }
                }
            }
        },
        "/v1/contactexports":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Create a contacts export job",
                "operationId": "createExportJob",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact exports"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Export object that needs to be getting from the system",
                        "required": true,
                        "schema": {
                            "$ref":"#/definitions/SourceCE"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "jobId"
                    },
                    "422":{
                        "description":"Unprocessable Entity"
                    }
                }
            }
        },
        "/v1/contactimports":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new contact import job",
                "operationId": "createImportJob",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact imports"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Job object that needs to be added to the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/JobCI"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "record created"
                    },
                    "422":{
                        "description":"Unprocessable Entity"
                  }
                }
            }
        },
        "/v1/contacts":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new contact to the system",
                "operationId": "addContact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Contact object that needs to be added to the system",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/ContactC"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "record created"
                    },
                    "405":{
                        "description": "Invalid input"
                  }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get contacts",
                "operationId": "getContacts",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "description": "Email for search",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "audience-key",
                        "description": "Audience name for filtering contacts",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Page number",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Number of records returned",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sort_by",
                        "description": "Sort field",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sort_dir",
                        "description": "Sort direction",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },{
                        "name": "return_count",
                        "description": "Return count of records",
                        "required": false,
                        "type": "boolean",
                        "default":false,
                        "in": "query",
                        "enum": [
                            true,
                            false
                        ]
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ContactC"
                            }
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an existing contact",
                "operationId": "updateContacts",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Contact object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                              "$ref": "#/definitions/ContactC"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single contact",
                "operationId": "getsinglecontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref": "#/definitions/ContactC"
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete a single contact",
                "operationId": "deletesinglecontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                          "description": "Primary key",
                          "required": true,
                          "type": "string",
                          "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/unsubscribe/{channel}":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Unsubscribe contact by primary Key with channel",
                "operationId": "unsubscribecontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "channel",
                        "description": "Specified channel",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{

                        "name": "mcID",
                        "description": "mcID provided for attribution purposes",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/cart":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add cart object to contact",
                "operationId": "savecartcontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Cart object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/CartC"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update cart",
                "operationId": "updatecartcontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Cart object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/CartC"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Remove cart object from contact",
                "operationId": "clearcartcontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/cartitems":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add product to cart",
                "operationId": "addproducttocartcontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Cartitem object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/CartitemsC"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref": "#/definitions/CartitemsC"
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/cartitems/{productID}":{
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Remove product from cart",
                "operationId": "removeproducttocartcontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "productID",
                        "description": "Product ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/contacts/{primary_key}/cartitems/{productID}/{qty}":{
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Remove product from cart by Qty",
                "operationId": "removeproducttocartqtycontact",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "primary_key",
                        "description": "Primary key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "productID",
                        "description": "Product ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "qty",
                        "description": "Quantity",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/includes/{key}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single include",
                "operationId": "getinclude",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "message content includes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Include Key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/IncludeI"
                        }
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update a single include",
                "operationId": "updateinclude",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "message content includes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Include Key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Include object that needs to be updated to the system",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/IncludeI"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an include",
                "operationId": "removeinclude",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "message content includes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Include Key",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "Record not found"
                    }
                }
            }
        },
        "/v1/includes":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new include",
                "operationId": "addinclude",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "message content includes"
                ],
                "parameters": [
                    {
                      "name": "body",
                      "description": "Include object that needs to be added to the system",
                      "required": true,
                      "schema":{
                        "$ref": "#/definitions/IncludeI"
                      },
                      "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "record created"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get includes",
                "operationId": "getincludes",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "message content includes"
                ],
                "parameters":[
                    {
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "key",
                        "description": "Include Key",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Number of page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Count include on page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses":{
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/IncludeI"
                            }
                        }
                    }
                }
            }
        },
        "/v1/jobs/{id}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single job",
                "operationId": "getsinglejob",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Job id",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/JobJ"
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            }
        },
        "/v1/jobs":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get jobs list",
                "operationId": "getjobs",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobName",
                        "description": "Name given to the job",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[start][gt]",
                        "description": "Start Time greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[start][gte]",
                        "description": "Start Time greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[start][lt]",
                        "description": "Start Time less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[start][lte]",
                        "description": "Start Time less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[end][gt]",
                        "description": "End Time greater ",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[end][gte]",
                        "description": "End Time greater or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[end][lt]",
                        "description": "End Time less",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "times[end][lte]",
                        "description": "End Time less or equal",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "status",
                        "description": "Active status for job",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "Scheduled",
                            "Pending",
                            "Processing",
                            "Throttled",
                            "Failed",
                            "Done"
                        ]
                    },{
                        "name": "page",
                        "description": "Number of page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Count items on page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/JobJ"
                            }
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            }
        },
        "/v1/orders/{id}":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update a single order",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "orders"
                ],
                "parameters":[
                    {
                        "name": "id",
                        "description": "Order ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "body",
                        "description": "Order object that needs to be updated in the system",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/OrderO"
                        },
                        "in": "body"
                    }
                ],
                "responses":{
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/OrderUPD"
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single order",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "orders"
                ],
                "operationId": "getorder",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Order ID",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/OrderO"
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete order",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "orders"
                ],
                "operationId": "deleteorder",
                "parameters": [
                  {
                    "name": "id",
                    "description": "Order ID",
                    "required": true,
                    "type": "string",
                    "in": "path"
                  }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            }
        },
        "/v1/orders":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new order",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "orders"
                ],
                "operationId": "addorders",
                "parameters": [
                  {
                      "name": "body",
                      "description": "Order object that needs to be added to the system",
                      "required": true,
                      "schema":{
                        "$ref": "#/definitions/OrderO"
                      },
                      "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation"
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get orders",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "orders"
                ],
                "operationId": "getorders",
                "parameters":[
                    {
                        "name": "fields",
                        "description": "Fields (can be many, separate by comma)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "cID",
                        "description": "Contact ID",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "email",
                        "description": "Search by contact primary key",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "purchaseDate",
                        "description": "Purchase Date used in conjunction with eq, lt, gt (YYYY-MM-DD HH:ii:ss)",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Number of page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Count orders on page",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "return_count",
                        "description": "Return count of records",
                        "required": false,
                        "type": "boolean",
                        "default":false,
                        "in": "query",
                        "enum": [
                            true,
                            false
                        ]
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/OrderO"
                            }
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            }
        },
        "/v1/ordersimport":{
            "post":{
                "security": [{
                    "basicAuth": []
                }],
                "summary": "Create an order import job",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ordersimport"
                ],
                "operationId": "ordersimport",
                "parameters": [{
                    "name": "body",
                    "description": "Import new orders",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/JobOI"
                    },
                    "in": "body"
                }],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/v1/productimports":{
            "post": {
                "security": [{
                    "basicAuth": []
                }],
                "summary": "Create a product import job",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "productimports"
                ],
                "operationId": "productimport",
                "parameters": [{
                    "name": "body",
                    "description": "Import new products",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/JobPI"
                    },
                    "in": "body"
                    }],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/v1/products/{productID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single product",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "products"
                ],
                "operationId": "getproduct",
                "parameters": [
                    {
                        "name": "productID",
                        "description": "Key for attribute",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema":{
                            "$ref":"#/definitions/ProductP"
                        }
                    },
                    "404":{
                        "description": "record not found"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an existing product",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "products"
                ],
                "operationId": "updateproducts",
                "parameters": [
                    {
[...]
