{
    "swagger": "2.0",
    "info":{
        "description":"Welcome to the Cordial API documentation! This interactive API documentation allows you to test API calls from the Swagger interface. Authenticate yourself with the API key from your Cordial account and then make API calls. Keep in mind that testing in Swagger will directly affect your production data.",
        "version": "2.0.0",
        "title": "Cordial API",
        "termsOfService": "https://cordial.zendesk.com"
    },
    "basePath": "/",
    "schemes":[
        "https"
    ],
    "securityDefinitions" : {
        "basicAuth" : {
            "description" : "HTTP Basic Authentication. Works over HTTPS",
            "type" : "basic"
        }
    },
    "host" : "api.cordial.io",
    "paths":{
        "/v2/audiencecount":{
            "post":{
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Post audience object to get count",
                "description": "Return count of contacts using the appropriate audience JSON body.",
                "operationId": "audiencecount",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "audiencecount"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Audience object for returning count.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AudienceObject"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AudienceCountSuccess"
                        }
                    },
                    "422": {
                        "description": "validation error",
                        "$ref": "#/responses/AudienceCountErrorValidation"
                    }
                }
            }
        },
        "/v2/alerts/{id}": {
            "get": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Get a single alert",
                "description": "Retrieves the specified alert.",
                "operationId": "getalert",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Alert id value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AlertResponse"
                        }
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "put": {
                "security": [
                {
                    "basicAuth": []
                }
                ],
                "summary": "Update a single alert",
                "description": "Update alert",
                "operationId": "updatealert",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Alert id value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "body",
                        "description": "Alert object that needs to be updated.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AlertI"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422": {
                        "description": "validation error",
                        "$ref": "#/responses/AlertErrorValidation"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Delete an alert",
                "description": "Deletes alerts.",
                "operationId": "removealert",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Alert id value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "422": {
                        "$ref": "#/responses/AlertRemoveImpossible"
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/alerts": {
            "post": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Add alert",
                "description": "Adds a new alert using the appropriate JSON body.",
                "operationId": "addalert",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Alert object that needs to be added.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AlertI"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AlertCreationSuccess"
                        }
                    },
                    "422": {
                        "description": "validation error",
                        "$ref": "#/responses/AlertErrorValidation"
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Get content includes",
                "description": "Retrieves alerts list. Using query string parameters, it is possible to filter the response mdtID or msID to retrieve information for particular messages or templates.",
                "operationId": "getincludes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "alerts"
                ],
                "parameters": [
                    {
                        "name": "mdtID",
                        "description": "Filter alerts by automation message delivery template ID (mdtID).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "msID",
                        "description": "Filter alerts by message send ID (mdtID).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name":"entity",
                        "description": "Filter alerts by entity. Possible values message-automation or batch-message",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "batch-message",
                            "message-automation"
                        ]
                    },
                    {
                        "name": "page",
                        "description": "Specific page number to be returned.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "per_page",
                        "description": "Number of records per page.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "sort_by",
                        "description": "Field by which results should be sorted.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "sort_dir",
                        "description": "Direction to sort by. Works in conjunction with `sort_by` (e.g. asc, desc).",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AlertResponse"
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/datajobs/{key}/transform":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "data jobs"
                ],
                "operationId": "runTransformation",
                "description": "Runs the advanced transformation script for the specified data job automation. The data automation is defined by its unique `key` value.",
                "summary": "Run a data transformation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Data job automation key.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },
                    {
                        "name": "body",
                        "description": "JSON object to be transformed.",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/DataJobsRecord"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Transformation is processing",
                        "schema": {
                            "$ref": "#/definitions/DataJobsSuccess"
                        }
                    },
                    "400":{
                        "description": "Bad request",
                        "$ref": "#/responses/DataJobsError"
                    }
                }
            }
        },
        "/v2/datajobs/{key}/trigger":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "data jobs"
                ],
                "operationId": "runTrigger",
                "description": "Triggers the advanced transformation script for the specified data job automation. The data automation is defined by its unique `key` value and must be already configured and published.",
                "summary": "Trigger a data transformation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Data job automation key.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Transformation is triggered",
                        "schema": {
                            "$ref": "#/definitions/DataJobsTriggeredSuccess"
                        }
                    },
                    "400":{
                        "description": "Bad request",
                        "$ref": "#/responses/DataJobsError"
                    }
                }
            }
        },
        "/v2/datajobs/{dabId}/stats":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "data jobs"
                ],
                "summary": "Return stats for particular oneTime data job",
                "description": "",
                "operationId": "onetimeStats",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dabId",
                        "description": "One time data job ID.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "A single stats document for the specified one-time data job (dabId), including run metadata and aggregated totals (queued, processed, successful, failures, exported).",
                        "schema": {
                            "$ref": "#/definitions/OneTimeStatsReturnedSuccess"
                        }
                    },
                    "400":{
                        "description": "Bad request",
                        "$ref": "#/responses/DataJobsError"
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422": {
                        "description": "Validation error",
                        "$ref": "#/responses/DataJobsError"
                    }
                }
            }
        },
        "/v2/datajobs/{key}/runs/{runMarker}/stats":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "data jobs"
                ],
                "summary": "Return per-run statistics for recurring data job",
                "description": "",
                "operationId": "statsForSingleAggregation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Data job automation key.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "runMarker",
                        "description": "Specific run marker. Usually, the date time marker, like: rm202506180920",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Returns per-run stats (counts and top-level run metadata) for the specified recurring data job run.",
                        "schema": {
                            "$ref": "#/definitions/OneTimeStatsReturnedSuccess"
                        }
                    },
                    "400":{
                        "description": "Bad request",
                        "$ref": "#/responses/DataJobsError"
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422": {
                        "description": "Validation error",
                        "$ref": "#/responses/DataJobsError"
                    }
                }
            }
        },
        "/v2/datajobs/{key}/runs":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "data jobs"
                ],
                "summary": "Return list of runs for recurring data job",
                "description": "",
                "operationId": "listOfRunsForDataAutomation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Data job automation key.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "List of executed batches for a data job",
                        "schema": {
                            "$ref": "#/definitions/ListOfRunsReturnedSuccess"
                        }
                    },
                    "400":{
                        "description": "Bad request",
                        "$ref": "#/responses/DataJobsError"
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422": {
                        "description": "Validation error",
                        "$ref": "#/responses/DataJobsError"
                    }
                }
            }
        },
        "/v2/accountmonitorexport":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "account monitor export"
                ],
                "summary": "Export logs from your account monitor",
                "description": "",
                "operationId": "exportAccountMonitor",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "JSON body information to create the export job.",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/SourceAccountMonitorExport"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/AccountMonitorExportResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema":{
                            "$ref":"#/definitions/AccountMonitorExportError"
                        }
                    }
                }
            }
        },
        "/v2/messageanalyticsexport":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                    "analytics messages"
                ],
                "summary": "Create a message report export job",
                "description": "Creates an export job to download and store a file of message analytics to an external location. The exported file can be downloaded via Cordial UI, FTP/SFTP, sent to Amazon S3 bucket, or sent to Google Cloud Storage bucket.<ul><li>Export status information is available through the jobs resource. To access the Jobs page via Cordial UI, click on the jobs icon at the top right of the application header.</li><li>Supported export file types are <b>CSV</b> and <b>JSON</b>.</li><li>Export files made available for download via the UI will be stored for 30 days from the export date.</li></ul>",
                "operationId": "exportMessageAnalytics",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "JSON body information to create the export job.",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/SourceAnalyticsMessage"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/MessageAnalyticsExportResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema":{
                            "$ref":"#/definitions/MessageAnalyticsExportError"
                        }
                    }
                }
            }
        },
        "/v2/accountcontactattributes":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "tags":[
                   "account attributes"
                ],
                "summary": "Get contact attributes",
                "description": "Retrieves contact attributes. It is possible to filter the response using query string parameters for attribute type (string, number, date, geo, or array) and index status. For example, you may want to retrieve all <b>non-indexed</b> <b>string</b> type attributes.",
                "operationId": "getListAccountAttributes",
                "produces": [
                  "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Filter by attribute type.",
                        "required": false,
                        "type": "string",
                        "enum":[
                            "string",
                            "number",
                            "date",
                            "geo",
                            "array"
                        ]
                    },{
                        "in": "query",
                        "name": "indexed",
                        "description": "Filter attributes by index status. Possible values: 1 for indexed or 0 for non-indexed.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "0",
                            "1"
                        ]
                    }
                ],
                "responses":{
                    "200": {
                        "description": "Successful request",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/responses/AttributeShow"
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/responses/AttributeError"
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add an attribute",
                "tags":[
                   "account attributes"
                ],
                "description": "Creates a new contact attribute using the appropriate JSON body. Posting more than once for the same attribute name or key value will generate an error. Use the PUT method to change or update fields once the attribute is created. Attributes may be added at any time to your database and are immediately available to all contacts once created. Attributes must exist before contact data for those attributes can be added.\n\nAttributes can be optionally indexed, and if the data is strictly used for personalization, there is no need to index. However, if the field will be used for audience segmentation, it should be indexed.\n\nPossible data types for contact attributes are:<ul><li><b>string:</b> Can be any string.</li><li><b>number:</b> Must be a number.</li><li><b>date:</b> Must be a date (ISO 08601 format e.g. YYYY-MM-DDThh:mm:ss).</li><li><b>geo:</b> This is an object that contains address fields as well as coordinates. Geo attributes are automatically indexed.</li><li><b>array:</b> An array of one or more values.</li></ul>",
                "operationId": "addattribute",
                "produces": [
                  "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Attribute object that needs to be added.",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/Attribute"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "422": {
                        "$ref": "#/responses/AttributeError"
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    }
                }
            }
        },
        "/v2/accountcontactattributes/{key}":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single attribute",
                "description": "Retrieves the specified contact attribute based on its unique `key` value. For example, /accountcontactattributes/first_name would return the response data for the attribute with the key value of <b>first_name</b>.",
                "operationId": "getAttribute",
                "produces": [
                  "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Attribute key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "$ref": "#/responses/AttributeShow"
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "422": {
                        "$ref": "#/responses/AttributeError"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an attribute",
                "description": "Updates existing contact attribute fields using the appropriate JSON body. For example, /accountcontactattributes/first_name allows the attribute with the key value of <b>first_name</b> to be updated.",
                "operationId": "updateAttribute",
                "produces": [
                  "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Attribute key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Attribute object that needs to be updated.",
                        "required": true,
                        "schema":{
                            "$ref": "#/definitions/AttributeUPD"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "422": {
                        "$ref": "#/responses/AttributeError"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an attribute",
                "description": "Deletes an existing contact attribute. For example, /accountcontactattributes/points would delete the attribute with the key of <b>points</b>.",
                "operationId": "deleteattribute",
                "produces": [
                    "application/json"
                ],
                "tags":[
                   "account attributes"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Attribute key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/accountlists/{id}":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single list",
                "description": "Retrieves the specified list. The list is defined by its unique `id` value. For example, /accountlists/128 would return the response data for the list with the id value of <b>128</b>.",
                "operationId": "getlist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id value.",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref": "#/definitions/ListShow"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/ListNotExist"
                    }
                }
            },
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update a list",
                "description": "Updates the list name to a new value and enables or disables date tracking. Enabling list tracking will automatically track the date each contact was added to the list.",
                "operationId": "updatelist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id value.",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "List object that needs to be updated.",
                        "required": false,
                        "schema":{
                            "$ref": "#/definitions/List"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ListShow"
                            }
                        }
                    },
                    "404":{
                        "$ref": "#/responses/ListNotFound"
                    },
                    "422":{
                        "$ref": "#/responses/ListValidationError"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an existing list",
                "description": "Deletes an existing list. The list is defined by its unique `id` value. For example, /accountlists/128 would delete the list with the id value of <b>128</b>.",
                "operationId": "deletelist",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                  {
                      "name": "id",
                      "description": "List id value.",
                      "required": true,
                      "type": "string",
                      "in": "path"
                  }
                ],
                "responses": {
                    "200":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/accountlists/{id}/count":{
            "get": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single list with count of assigned contacts",
                "description": "Retrieves the specified list. The list is defined by its unique `id` value. For example, /accountlists/128/count would return the response data for the list with the id value of <b>128</b> and count of contacts assigned to this list.",
                "operationId": "getlistcount",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id value.",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref": "#/definitions/ListShowCount"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/ListNotExist"
                    }
                }
            }
        },
        "/v2/accountlists/{id}/clear":{
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Clear a list",
                "description": "Removes all contact list associations for the given list `id` while retaining the list itself in the Cordial database. **Note:** when a list is cleared, no contacts are deleted from the system.",
                "operationId": "clearlist",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "List id value.",
                        "required": true,
                        "type": "integer",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/ListCreationSuccess"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "404":{
                        "$ref": "#/responses/ListNotExist"
                    }
                }
            }
        },
        "/v2/accountlists":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a list",
                "description": "Creates a new list using the appropriate JSON body. Posting more than once for the same list name will generate an error.\n\nThe accountlists collection contains the names of lists used to define segments of your audience. For example, you may have lists for Weekly Specials, Daily Deals, and Fashion Newsletter. Each represents subscriber selections on information and promotions they requested to receive. You can also use accountlists to represent groups or segments you determine to be important such as New Customers, VIPs, or Net Promoters.<ul><li>A single contact can be associated with one or more lists.</li><li>Create as many lists as required.</li><li>List names must be unique, so it is important to use a naming convention that supports creation of multiple lists over time.</li>",
                "operationId": "addList",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "List object that needs to be added.",
                        "required": true,
                        "schema":{
                                  "$ref": "#/definitions/List"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref": "#/definitions/ListCreationSuccess"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "422":{
                        "$ref": "#/responses/ListError"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get lists",
                "description": "Retrieves all lists from the Cordial database. It is possible to filter the response data for a specific list using the list `name` query string parameter.",
                "operationId": "getLists",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "account lists"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "description": "List name value.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref": "#/definitions/ListShow"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/AuthenticationFailure"
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single automation template",
                "description": "Retrieves the specified automation template. The automation template record is defined by its unique `key` value.",
                "operationId": "gettemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "fields",
                        "description": "Fields to include (can be many, comma-separated).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref": "#/definitions/TemplateShowAuto"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update an automation template",
                "description": "Updates automation template fields. The automation template record is defined by its unique `key` value. For example, /automationtemplates/promo_01_20_2018 allows the template with the key value of <b>promo_01_20_2018</b> to be updated using the appropriate JSON body.",
                "operationId": "updateTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Template object that needs to be updated.",
                        "required": true,
                        "schema":{
                              "$ref": "#/definitions/TemplateupdateAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema" : {
                            "$ref": "#/definitions/AutomationTemplateSuccess"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "delete":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Delete an automation template",
                "description": "Deletes an existing automation template. The automation template is defined by its unique `key` value. For example, /automationtemplate/newsletter_week1 would delete the template with the key value of <b>newsletter_week1</b>.",
                "operationId": "deleteTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/AutomationTemplateDelete"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/automationtemplates":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new automation template",
                "description": "Creates a new automation template using the appropriate JSON body. Posting more than once for the same template key will generate an error. Use the PUT method to change or update fields once the template is created.",
                "operationId": "addTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Template object that needs to be added.",
                        "required": true,
                        "schema":{
                          "$ref": "#/definitions/TemplateAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/AutomationTemplateCreated"
                        }
                    },
                    "422":{
                        "schema": {
                            "$ref":"#/definitions/AutomationTemplateError"
                        }
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get automation templates",
                "description": "Retrieves automation templates. Response data can be filtered using template `fields`, message `tags`, and `timestamp` values.",
                "operationId": "getTemplates",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters":[
                    {
                        "name": "fields",
                        "description": "Fields to include (can be many, comma-separated).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gt]",
                        "description": "Create date is greater than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gte]",
                        "description": "Create date is greater than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lt]",
                        "description": "Create date is less than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lte]",
                        "description": "Create date is less than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[gt]",
                        "description": "Last modified date is greater than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[gte]",
                        "description": "Last modified date is greater than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[lt]",
                        "description": "Last modified date is less than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "lm[lte]",
                        "description": "Last modified date is less than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "tags",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Returns automation templates that contain specified message tags (can be many, comma-separated)."
                    },{
                        "name": "orchestrationID",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Returns automation templates tied to specified orchestration."
                    },{
                        "name": "compositionID",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Returns automation templates tied to specific version of orchestration."
                    },{
                        "name": "page",
                        "description": "Specific page number to be returned.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Number or records per page.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/TemplateShowAuto"
                            }
                        }
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/send":{
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send a batch message from an automation template",
                "description": "Sends an existing automation template. The template can be sent to one or more contacts, as specified within the JSON body. This endpoint will successfully create a new contact record if the contact key value in the request does not already exist. The newly added contact will have a subscribe status of <b>none</b> and will not receive promotional messages until subscribed to the appropriate channel. If the contact key exists, data passed in the contact object will upsert corresponding contact attributes in the Cordial database.",
                "operationId": "sentMessage",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "One or more `contact` objects along with any external variables that will render content in the message.",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/RecipientsAuto"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/TemplateSendResponse"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/senddraft": {
            "post": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Send a draft message of an automation template",
                "description": "Sends an existing automation template draft for testing purposes. For example, /automationtemplates/promo_01_20_2018/senddraft allows the draft automation template with the key value of <b>promo_01_20_2018</b> to be sent using the appropriate JSON body. The template can be sent to one or more contacts, as specified within the JSON body.",
                "operationId": "sentDraftMessage",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                        },
                        {
                        "name": "body",
                        "description": "One or more `contact` objects along with any external variables that will render content in the message.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RecipientsAutoTest"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/TemplateSendDraftResponse"
                        }
                    },
                    "422":{
                        "schema": {
                            "$ref":"#/definitions/AutomationTemplateError"
                        }
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/publish":{
            "put": {
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Publish a single automation template",
                "description": "Publishes an existing automation template draft. The automation template record is defined by its unique `key` value.",
                "operationId": "publishTemplate",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema" : {
                            "$ref": "#/definitions/AutomationTemplateSuccess"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422":{
                        "schema": {
                            "$ref":"#/definitions/AutomationTemplateError"
                        }
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/renderdraft/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render draft content of a single automation template",
                "description": "Retrieves the message headers, the rendered HTML, and experiment name and variants of an automated template draft for a specified contact. Additionally, experiment names and variants can be passed using a query string.",
                "operationId": "renderPreviewAutomationtemplate",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Cordial database contact ID (cID) value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Returns the automation template that contains the specified experiment name. Variant is required if experiment is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Returns the automation template that contains the specified experiment variant. Experiment is required if variant is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/AutomationTemplateRenderDraft"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/renderpublished/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render published content of a single automation template",
                "description": "Retrieves the message headers, the rendered HTML, and experiment name and variants of a published automated template for a specified contact. Additionally, experiment names and variants can be passed using a query string.",
                "operationId": "renderPublishedAutomationtemplate",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Cordial database contact ID (cID) value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Returns the automation template that contains the specified experiment name. Variant is required if experiment is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Returns the automation template that contains the specified experiment variant. Experiment is required if variant is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/AutomationTemplateRenderPublish"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/automationtemplates/{key}/experimentperformance":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get experiment performance for the published version of a single automation template",
                "description": "Retrieves experiment performance for the published version of a single automation template. The automation template record is defined by its unique template `key` value.",
                "operationId": "getAutomationTemplateExperimentPerformance",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "automation templates"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "description": "Automation template key value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/ExperimentsStats"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages":{
            "post":{
                "security": [
                  {
                    "basicAuth": []
                  }
                ],
                "summary": "Create a batch message",
                "description": "Creates a batch message template using the appropriate JSON body. Posting more than once will create subsequent batch message templates. Use PUT to change or update a batch message template that has not been sent yet.",
                "operationId": "addBatch",
                "produces": [
                  "application/json"
                ],
                "tags": [
                  "batch messages"
                ],
                "parameters": [
                  {
                    "name": "body",
                    "description": "Template object that needs to be added.",
                    "required": true,
                    "schema": {
                      "$ref": "#/definitions/MessageSendBatchPost"
                    },
                    "in": "body"
                  }
                ],
                "responses": {
                  "201": {
                    "description": "Successful request",
                    "schema": {
                      "$ref": "#/definitions/BatchMessageCreated"
                    }
                  },
                  "422": {
                    "description": "Creation batch message errors",
                    "schema": {
                      "$ref": "#/definitions/BatchMessageError"
                    }
                  }
                }
              },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get batch messages",
                "description": "Retrieves batch messages. Note that info and stats on daily message <b>automation</b> sends are retrieved using the <b>GET /batchmessages</b> method. The response for automation sends can be filtered using the automation trigger sending method status, the creation time, and automation message delivery template ID (mdtID).",
                "operationId": "getBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "sendTime[gt]",
                        "description": "Send time is greater than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[gte]",
                        "description": "Send time is greater than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[lt]",
                        "description": "Send time is less than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "sendTime[lte]",
                        "description": "Send time is less than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "status",
                        "description": "Message status (e.g. sent, canceled, paused, processing, pending).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "triggers[api][enabled]",
                        "description": "API trigger sending method status. True for enabled and false for disabled.",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "triggers[event][enabled]",
                        "description": "Event trigger sending method status. True for enabled and false for disabled.",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "triggers[recurring][enabled]",
                        "description": "Recurring trigger sending method status. True for enabled and false for disabled.",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },{
                        "name": "tags",
                        "required": false,
                        "type": "string",
                        "in": "query",
                        "description": "Filter results by messages that contain specified message tags (can be many, comma-separated)."
                    },{
                        "name": "mdtID",
                        "description": "Automation message delivery template ID (mdtID). Represents both the published and draft versions of an automation template.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gt]",
                        "description": "Create date is greater than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[gte]",
                        "description": "Create date is greater than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lt]",
                        "description": "Create date is less than.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "ct[lte]",
                        "description": "Create date less than or equal to.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "page",
                        "description": "Specific page number to be returned.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }, {
                        "name": "per_page",
                        "description": "Number or records per page.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation",
                        "schema":{
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/MessageSendBatch"
                            }
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Update a batch message draft",
                "description": "Updates a batch message draft using the appropriate JSON body. The batch message record is defined by its unique message `id` value (generated by the POST method). The PUT method can only be used if the message status is `draft`.",
                "operationId": "updateBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "Template object that needs to be updated.",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/MessageSendBatchPost"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "422":{
                        "schema": {
                            "$ref": "#/definitions/BatchMessageError"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get a single batch message",
                "description": "Retrieves a batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "getSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/MessageSendBatch"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            },
            "delete":{
                "security": [
                  {
                    "basicAuth": []
                  }
                ],
                "summary": "Delete a batch message",
                "description": "Deletes an existing draft or scheduled batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "deleteSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags": [
                  "batch messages"
                ],
                "parameters": [
                  {
                    "name": "id",
                    "description": "Batch message ID (msID).",
                    "required": true,
                    "type": "string",
                    "in": "path"
                  }
                ],
                "responses": {
                  "200": {
                    "description": "Successful request",
                    "schema": {
                      "$ref": "#/definitions/SuccessOperation"
                    }
                  },
                  "404": {
                    "$ref": "#/responses/RecordNotFound"
                  }
                }
              }
        },
        "/v2/batchmessages/{id}/send":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send or schedule a batch message",
                "description": "Sends or schedules an existing batch message draft. If the draft is scheduled for a future send date, the message will be scheduled and sent on that date and time. The batch message record is defined by its unique message `id` value.",
                "operationId": "sendSingleBatch",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "422":{
                        "schema": {
                            "$ref": "#/definitions/BatchSendMessageError"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/sendtest":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Send a test batch message",
                "description": "Sends a test batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "sendTestSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "body",
                        "description": "An array of contact identifier key/value pairs.",
                        "required": true,
                        "schema":{
                            "$ref":"#/definitions/RecipientsTestBatch"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Successful request",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "422":{
                        "schema": {
                            "$ref": "#/definitions/BatchSendTestMessageError"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/experimentperformance":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get experiment performance for single batch message",
                "description": "Retrieves experiment performance for single batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "geBatchExperimentPerformance",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "Successful request",
                        "schema":{
                            "$ref":"#/definitions/ExperimentsStats"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/renderedwip/{contactID}":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Render preview of a batch message",
                "description": "Retrieves the message headers, the rendered HTML, and experiment name and variants of a batch message for a specified contact. The batch message record is defined by its unique message `id` value. The contact record is defined by its unique contact ID (cID) value.",
                "operationId": "renderPreviewSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "contactID",
                        "description": "Cordial database contact ID (cID) value.",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    },{
                        "name": "experiment",
                        "description": "Returns the batch message that contains the specified experiment name. Variant is required if experiment is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "variant",
                        "description": "Returns the batch message that contains the specified experiment variant. Experiment is required if variant is specified.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessRenderMessage"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422":{
                        "schema": {
                            "$ref": "#/definitions/BatchRenderMessageError"
                        }
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/pause":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Pause batch message sending",
                "description": "Pauses the sending of a batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "pauseSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/cancel":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Cancel batch message sending",
                "description": "Cancels the sending of a batch message. A paused message may also be canceled. The batch message record is defined by its unique message `id` value.",
                "operationId": "cancelSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/resume":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Resume batch message sending",
                "description": "Resumes the sending of a batch message. The batch message record is defined by its unique message `id` value.",
                "operationId": "resumeSingleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/batchmessages/{id}/unschedule":{
            "put":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Unschedule a batch message",
                "description": "Unschedule a scheduled batch message. Unscheduled messages will revert to draft status and can be edited. Messages that are in the processing status cannot be unscheduled. The batch message record is defined by its unique message `id` value.",
                "operationId": "unscheduleBatch",
                "produces": [
                    "application/json"
                ],
                "tags":[
                    "batch messages"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Batch message ID (msID).",
                        "required": true,
                        "type": "string",
                        "in": "path"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SuccessOperation"
                        }
                    },
                    "404":{
                        "$ref": "#/responses/RecordNotFound"
                    }
                }
            }
        },
        "/v2/contactactivities":{
            "get":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Get events",
                "description": "Retrieves contact activities. Response data can be filtered for a specific contact using the `email` and `mcID` query string parameters.",
                "operationId": "getActivityList",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact activities"
                ],
                "parameters": [
                    {
                        "name": "time[lt]",
                        "description": "Filter activities that occurred before this time (ISO 08601 date format e.g. YYYY-MM-DDThh:mm:ss).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "time[gt]",
                        "description": "Filter activities that occurred after this time (ISO 08601 date format e.g. YYYY-MM-DDThh:mm:ss).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "time[lte]",
                        "description": "Filter activities that occurred before or at this time (ISO 08601 format e.g. YYYY-MM-DDThh:mm:ss).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "time[gte]",
                        "description": "Filter activities that occurred after or at this time (ISO 08601 date format e.g. YYYY-MM-DDThh:mm:ss).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "action",
                        "description": "Filter by a specific event (e.g. click, open, send, or a custom-named event).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "email",
                        "description": "Filter activities by contact email address value.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "mdtID",
                        "description": "Filter activities by automation message delivery template ID (mdtID).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "mcID",
                        "description": "Filter by message contact ID (mcID).",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "per_page",
                        "description": "Number or records per page.",
                        "required": false,
                        "type": "string",
                        "in": "query"
                    },{
                        "name": "return_count",
                        "description": "Show the total count of records returned.",
                        "required": false,
                        "type": "boolean",
                        "default":false,
                        "in": "query",
                        "enum": [
                            true,
                            false
                        ]
                    },{
                        "name":"contactFields",
                        "description":"Specify additional contact attributes that should be added in each event.",
                        "required":false,
                        "type":"array",
                        "items":{
                            "type":"string"
                        },
                        "in":"query"
                    }
                ],
                "responses": {
                    "200":{
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items":{
                                "$ref":"#/definitions/ActivityActivityShow"
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/responses/RecordNotFound"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#/definitions/ContactActivityError"
                        }
                    }
                }
            },
            "post":{
                "security" : [ {
                    "basicAuth" : [ ]
                } ],
                "summary": "Add a new event",
                "description": "Creates a new contact activity using the appropriate JSON body.",
                "operationId": "addActivity",
                "produces": [
                  "application/json"
                ],
                "tags":[
                    "contact activities"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "description": "Activity object that needs to be added.",
                        "required": true,
                        "schema": {
                            "$ref":"#/definitions/ActivityActivity"
                        },
                        "in": "body"
                    }
                ],
                "responses": {
                    "201":{
                        "description": "successful operation"
                    },
                    "400": {
[...]
